:root {
  --base: black;
  --text: white;
  --brand: #fe003a;
}

body {
  margin: 0;
  min-height: 100vh;
  background: white;
  font-family: 'Raleway', sans-serif;
  font-size: 12pt;
  line-height: 16pt;
  display: grid;
  grid-template: "main filler" / auto 1fr;
}

.main {
  grid-area: main;
  padding: 2rem;
  padding-right: 7rem;
  background: var(--base);
  color: var(--text);

  & main {
    height: 100%;
    display: grid;
    grid-template: repeat(4, 1fr);
    grid-row-gap: 2rem;

    & .title, & .bio, & .toolkit {
      display: flex;
      flex-direction: column;
    }

    & .bio, & .toolkit {
      & h2 {
        text-transform: lowercase;
        font-weight: bold;
        font-size: 1rem;
        margin: 0;
        margin-bottom: 0.5rem;
        color: var(--brand);
      }
    }

    & .title {
      & h1 {
        text-transform: uppercase;
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
        font-weight: normal;
        margin: 0;
      }
    }

    & .bio {
      & span:last-child {
        margin-top: 0.5rem;

        & i {
          margin-right: 0.5rem;
        }
      }
    }

    & .toolkit {
      & > div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 1.5rem;
      }
    }

    & .social {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;
      font-size: 1.5rem;

      & a {
        color: var(--text);

        &:hover {
          cursor: pointer;
          color: var(--brand);
          transition: color 0.6s easeOutQuint;
        }

        &:first-child {
          margin-right: 1.5rem;
        }
      }
    }
  }
}

.filler {
  grid-area: filler;
  display: flex;
  align-items: flex-end;

  & img {
    position: relative;
    left: -4rem;
    bottom: 2rem;
    max-width: 80%;
  }
}

@media (max-width: 767px) {
  body {
    grid-template: "main"
                   "filler";
    justify-items: center;
    background: black;
  }

  .main {
    padding: 2rem;
  }

  .filler {
    justify-content: center;
    align-items: flex-start;
    background: black;

    & img {
      left: 0;
      bottom: 0;
    }
  }
}